*{
    margin: 0;
    padding: 0;  
}
body {
    overflow: hidden;
}
.banner-text{
    height: 100%;
    width: 100%;
    padding-top: 5%;

    text-align: center;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    
    color: #fff;
    background: url(bg2.jpg);
    background-size: cover;
    background-position: center;
}
.banner-text h1{
    font-size: 300%;
    font-family: Verdana;
}
.banner-text p{
    margin-top: 1%;
    font-size: 140%;
    font-family: Verdana;
}
.banner-btn{
    margin: 1% auto 0;
    text-align: center;
    display: flex;
    justify-content: center;
}
.banner-btn a{
    width: 10em;
    margin: 0 10px;
    padding: 12px 0;
    
    border: .5px solid #fff;
    text-decoration: none;
    display: block;
    color: #fff;
    position: sticky;
    z-index: 5;
    transition: color 0.5s;
    font-family: Verdana;

}
.box{
    height: 100px;
    width: 100px;

    position: absolute;

    display: none;

    top: 0px;
    right: 0;
    left: 0;
    margin: 0 auto;
    
    z-index: 10;
}
iframe {
    width: 80%;
    height: 50%;
    margin: 0 auto;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);

}
.banner-btn a:hover + .box,.box:hover{
    display: block;
    position: relative;
    z-index: 5;
}
#vissza {
    position: relative;
    z-index: 1;
}

.banner-btn a:hover{
    color: black;
}
.banner-btn a span{
    width:  0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition: 0.5s;
}
.banner-btn a:hover span{
    width: 100%;
}